<template name="leftmenu">
<div id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <a href="" target="_blank" class="sidebar-brand">
                <i class="gi gi-flash"></i>
                <span class="sidebar-nav-mini-hide">EventSpark</span>
            </a>
            <ul class="sidebar-nav">
                <li id="sidebar-debug">
                    <a>
                        <i class="fa fa-gears sidebar-nav-icon"></i>
                        <span class="sidebar-nav-mini-hide">Events</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</template>